#app-root {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.row {
  display: flex;
  margin: .5rem 0;
  border: 1px solid #eee;
  padding: .5rem;
}

.row:link, .row:visited {
  background: #fff;
  transition: background .5s ease;
}

.row:hover, .row:active {
  background: #f8c5083d;
  cursor: pointer;
  transition: background .5s ease;
}

.row.active {
  background: #c8eced;
  border-color: #6ebec1;
}

.row.active:link, .row.active:visited {
  background: #dcedc8;
  transition: background .5s ease;
}

.row > div {
  flex: 0 0 24%;
}

.row > div:last-child {
  flex: 0 0 4%;
  text-align: right;
}

.card h3 > span {
  display: block;
  font-size: .75em;
}

.error {
  color: tomato;
  font-size: .825rem;
}

fieldset {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}

fieldset input {
  display: block;
  margin: 8px 0;
  border: 0;
  padding: .5rem;
  outline: 1px solid #eee;
}

fieldset input:focus {
  outline: 1px solid #6ebec1;
}




