.users-container {
}

.row {
  display: flex;
  margin: .5rem 0;
  border: 1px solid #eee;
  padding: .5rem;
}

.row:link, .row:visited {
  background: #fff;
  transition: background .5s ease;
}

.row:hover, .row:active {
  background: #eee;
  cursor: pointer;
  transition: background .5s ease;
}

.row.active {
  background: #dcedc8;
  border-color: #aabb97;
}

.row.active:link, .row.active:visited {
  background: #dcedc8;
  transition: background .5s ease;
}

.row > div {
  flex: 0 0 24%;
}

.row > div:last-child {
  flex: 0 0 4%;
  text-align: right;
}

.card h3 > span {
  display: block;
  font-size: .75em;
}